[Desktop Entry]
Categories=GTK;Office;
Version=1.0
Type=Application
Terminal=false
Exec=braille-translator %U
Name=Braille-Translator
Icon=/usr/share/BrailleTranslator/icon.png
MimeType=text/plain;
Keywords=text;editor;
